$primary-color: #73B8CC;
$yellow-color: #FFFF80;
$bg-color: #282A37;
$font-default: 'Poppins', sans-serif;

/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Prata', serif;
font-family: 'Raleway', sans-serif; */